<div class='col-md-6'>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag '0svbd.jpg'%>
    </div>
    <div class="item">
      <%= image_tag '5-jpg.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'plitvice-lakes-croatia-national-park-wallpaper.jpg' %>  
    </div>
    <div class="item">
      <%= image_tag '4370-tamborine-national-park-1920x1080-nature-wallpaper.jpg' %>  
    </div>
    <div class="item">
      <%= image_tag '15181-waterfall-in-grand-teton-national-park-1920x1080-nature-wallpaper.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'Angels-Landing-Trail-in-Zion-National-Park-Utah.jpg' %>  
    </div>
    <div class="item">
      <%= image_tag 'arches_national_park.jpeg'%>  
    </div>
    <div class="item">
      <%= image_tag 'bg_01.jpg' %>  
    </div>
    <div class="item">
      <%= image_tag 'Bow_Lake_and_Flowers_Banff_National_Park_Alberta_Canada_1.jpg' %>  
    </div>
    <div class="item">
      <%= image_tag 'double-arch-in-arches-national-park.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'Glen-Canyon-National-Recreation-Area1.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'Glen-Canyon-Utah.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'grand-canyon-wallpaper-5.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'grinnell-glacier-national-park-1440x900.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'jasper3.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'national_park_usa_107.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'national-park-utah-landscapes-lightning-overcast-54027-1600x1200.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'nature-landscapes_hdwallpaper_elbow-river-falls-in-alberta_11085.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'shafer_trail___canyonlands_utah-wallpaper-1920x1200.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'Spring-Wallpaper-06.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'the-breathtaking-melissani-cave-in-greece-mic-23067.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'utah_national_park-wallpaper-1920x1200.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'zion_national_park_wallpaper_landscape_nature_wallpaper_1680_1050_widescreen_1010.jpg'%>  
    </div>
    <div class="item">
      <%= image_tag 'Zion-National-Park-Big-Bend-Utah-United-States-650x487.jpg'%>  
    </div>
   
  </div>

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 </div> 

	<div class="col-md-5">
	   <p>Welcome to the Outdoor Travel Guide! Your main resource for everything outdoors! Log in with your Instagram account. Discover new and old trails, creating an amazing adventure. Plan a trip and e-mail the itinerary to your family and friends. Share your experiences by posting reviews and uploading pictures. ROUTE YOUR DESTINATION!</p>
	 	 <p>Choose an activity, then select a city destination of your choice.</p>
	  <h4>Activity</h4>
	    <%= form_tag attractions_search_path do |f| %>
	    <%= select_tag "Attraction", options_for_select(["camping","mountain biking","hiking","snow sports","caving", "water sports"]), class: "form-control", name: 'activity_type' %>
	</div>
	<div class="col-md-4">
	  <h4>Destination</h4>
	    <input type="text" class="form-control" name='city_location' style='width:200px;' placeholder="Which city?"><br>
	    <%= submit_tag 'Submit!', class: "btn myButton3" %>
	    <% end %>
	</div> 

