<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1> Trip </h1>
	<h2><%= @trip.name %></h2>
	<h3>Attractions</h3>
	<% @trip.attractions.each do |attraction| %>
		<p><%= attraction.title %></p>
		<% @api_unique_id_results = Apis::TrailsApi.get_trails_data_id(attraction.unique_id) %>
		<% @api_unique_id_results['places'].each do |place| %>
		  <% place['activities'].each do |activity| %>
			  <div class="panel-heading">
			    <h5 class="panel-title"><%= place['city'] %></h5>
			    <h4 class="panel-title"><%= activity['activity_type_name'] %></h4> 
			  </div>
			  
			    <div class="panel-body">
				    <h4>Name</h4>
				    <%= place['name'] %>
				    <h4>Directions</h4>
				    <%= place['directions'] %>
				    <h4>Description</h4>
				    <%= activity['description'] %>
				</div>
			<% end %>
		<% end %>
	<% end %>
  <body>
<html>