<%= form_for(@review, remote: using_modal) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :rating %>
	<%= f.text_field :rating %>

	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.hidden_field :unique_id, value: params[:unique_id] %>

	<%= f.submit %>
	<% if using_modal %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% end %>
<% end %>