
<%= form_for @review do |f| %>
	<div class="panel panel-info" style="color:grey;">
     <ol class="formList">
     
	  <%= f.label :name %>
	  <%= f.text_field :name %>
      <br>
	  <%= f.label :rating %>
	  <%= f.text_field :rating %>
      <br>
	  <%= f.label :body %>
	  <%= f.text_field :body %>
      <br>
	  <%= f.hidden_field :unique_id, value: params[:unique_id] %>
      <br>
	  <%= f.submit %>
	 </ol> 
	</div>
<% end %>