

<%= form_for(@review, remote: using_modal) do |f| %>
    <div class="panel panel-info" style="color:grey;">
    <ol class="formlist">
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :rating %>
	<%= f.select :rating, ["1 star", "2 stars", "3 stars", "4 stars", "5 stars"] %>

	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.hidden_field :unique_id, value: params[:unique_id] %>

	<%= f.submit %>
	<% if using_modal %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% end %>
    </ol> 
    </div> 
<% end %>