<%= form_for(@review, remote: using_modal, :authenticity_token => true) do |f| %>
  <div class="m-body">
    <ul>
  	  <li class="r-name"><%= f.label :name, 'Title' %></li>
  	  <%= f.text_field :name %><br>
  	  <i><%= f.label :rating %>
  	  <%= f.select :rating, ["1 star", "2 stars", "3 stars", "4 stars", "5 stars"] %></i>

  	  <li class="r-name"><%= f.label :body, 'Input' %></li> 
  	  <%= f.text_area :body %>
      <br>
      <i><%= f.label :photo %>
      <%= f.file_field :photo %></i>
    </ul>
  	<%= f.hidden_field :unique_id, value: params[:unique_id] %>
    <div class="btn btn-group-justified">
      <%= f.submit %>
  	  <% if using_modal %>
        <button type="button" data-dismiss="modal">Close</button>
      <% end %> 
    </div>
  </div> 
<% end %>