<h6><%= review.name %></h6><br>
<%= review.rating.times do %>
		<span class="glyphicon glyphicon-star"></span>
<% end %>
<br>
   <%= image_tag review.photo.url, size: "300x200" %>
<br>
<h5><%= review.body %></h5>
  
  <% if current_user.id == review.user_id %>
	  <p><%= link_to 'Edit', edit_review_path(id: review, unique_id: activity['unique_id']), id: 'edit-review-ajax', remote: true, class: "btn myButton2" %>
	     <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Delete¿' }, class: "btn myButton2" %></p>
 
      <div id='modal-div'>
      </div>
<% end %>

