<h6><%= review.name %></h6><br>
<%= review.rating.times do %>
		<span class="glyphicon glyphicon-star"></span>
<% end %>
<br>
   <%= image_tag review.photo.url, size: "300x200" %>
<br>
<p><%= review.body %></p>
<% if current_user %>
  <% if current_user.id == review.user_id || 0 %>
	  <p><%= link_to 'Edit', edit_review_path(id: review, unique_id: activity['unique_id']), class: "btn myButton2" %>
	     <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Delete¿' }, class: "btn myButton2" %></p>
  <% end %>
<% end %>

