<header class="navbar navbar-fixed-top">
  <div class="menu container-fluid">
    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="banner">
    <%= link_to root_path do %>
    <%= image_tag "OTG.png", class: "navbar-brand logo collapsed" %>
    <% end %>
      <ul class="nav navbar-nav navbar-right">

         <li><%= link_to ' Home', root_path, class: "icon-home navbar-text collapsed" %></li> 
         <li><%= link_to ' Contact', help_path, class: "icon-info-sign  navbar-text collapsed" %></li>
         <li><%= link_to ' My Trips', trips_path, class: "icon-user navbar-text collapsed" %></li>
        <li class="dropdown">
          <a href="#Member" class="dropdown-toggle" data-toggle="collapse" role="button" aria-expanded="false" style="color:#000;">

            <% if current_user %>
              <strong><%= current_user.email %></strong> 
            <% else %>
              <strong class="icon-signin"> Sign In</strong>
              <span class="caret collapsed"></span>
            <% end %>
          
            </a>
          <ul class="dropdown-menu" role="menu">
            <% if current_user %>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Log In', new_user_session_path %></li>
              <li class="divider"></li> 
              <%= link_to user_omniauth_authorize_path(provider: :instagram) do %>
              <%= image_tag "insta2.png", class: "logo collapsed", style: "height: 50px; width: 60px", align: "right"%>
    
              <% end %>
            <% end %>
            
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>