<header class="navbar  navbar-inverse navbar-fixed-top">
  <div class="container-fluid page-top">
    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" role="banner" style="height: auto; top: 48px;">
    <%= link_to root_path do %>
    <%= image_tag "OTG.png", class: "navbar-brand logo collapsed" %>
    <% end %>
      <ul class="nav navbar-nav pull-right">
         <%= link_to 'Home', root_path, class: "navbar-text collapsed"  %>
         <%= link_to 'Contact', help_path, class: "navbar-text collapsed" %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#000;">
           
            <% if current_user %>
              <%= current_user.email %>
            <% else %>
              Member
            <% end %>

            <span class="caret collapsed"></span></a>
          <ul class="dropdown-menu collapsed" role="menu">
            <% if current_user %>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>