<%= form_for(@attraction) do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :category %>
  <%= f.text_area :category %>
</div>

<div>
  <%= f.label :url %>
  <%= f.text_area :url %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>