<%= form_for (@attraction), :url => attractions_path, :html => { :multipart => true} do |f| %>

  <ol class="formList">
    <li>
     <%= f.label :title %>
     <%= f.text_field :title %>
    </li>
    <li>
     <%= f.label :category %>
     <%= f.text_field :category %>
     </li>
    <li>
     <%= f.label :photo %>
     <%= f.file_field :photo %>
    </li>

    <li>
     <%= f.submit %>
    </li>
  </ol>
<% end %>