<%= form_for(@attraction, remote: using_modal) do |f| %>

<div class="panel panel-info">
  <ul class="formList">

    <li>
      <%= f.label :name %>
      <%= f.select :trip_id, options_from_collection_for_select(current_user.trips, :id, :name) %>
    </li>
    <li>
      <%= f.hidden_field :unique_id, value: params[:unique_id] %>
    </li>
    

    <li>
     <%= f.submit ("Add To Trip")%>
     <% if using_modal %>
       <button type="button"  data-dismiss="modal">Close</button>
     <% end %>
    </li>
  </ul>
</div>
<% end %>