<!-- <h1>Attractions </h1> -->

<div class="panel panel-default">

  <% if @api_results['places'] == [] %>
    <h4> Sorry, nothing found.  Please try another search. </h4>
    <%= link_to 'New Search', root_path, class: "btn btn-primary" %>
  <% end %>  
  <% @api_results['places'].each do |place| %>
  <% place['activities'].each do |activity| %>
  
  <div class="panel-heading">
      <h5 class="panel-title"><%= place['city'] %></h5>
      <h4 class="panel-title"><%= activity['activity_type_name'] %></h4>
  </div>
  
    <div class="panel-body">
    <h4>Name</h4>
     <%= link_to place['name'], attraction_api_path(activities_unique_id: activity['unique_id']) %>

    <h4>Directions</h4>
      <%= place['directions'] %>


    <h4>Description</h4>
      <%= activity['description'].html_safe %>

    <div id='reviews-div'>
      <h4>Average User Rating</h4>
      <% Review.where(unique_id: activity['unique_id']).average('rating').to_i.times do %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %>

      <h4>Total Reviews</h4>
      <%= Review.where(unique_id: activity['unique_id']).count %>   
    </div>
    

      <div class="footer">
        <%= link_to 'Reviews', attraction_api_path(activities_unique_id: activity['unique_id']), class: "btn btn-primary" %>
   
        <%= link_to 'Create New Trip', new_trip_path(@trip), id: 'new-trip-ajax', remote: true, class: "btn btn-primary" %>

        <%= link_to 'Add To Existing Trip', new_attraction_path(unique_id: activity['unique_id']), id: 'existing-trip-ajax', remote: true, class: "btn btn-primary" %>
      </div>
 
    </div>

  <% end %>
     

  <div id='modal-div'>
  </div>

  <div class="row">
 <div id="loc_map" style='height: 480px; width: 480px; text-align: center;'></div>
  </div> 
 
  <script>
var myCenter=new google.maps.LatLng(45.434046,12.340284);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:18,
  mapTypeId:google.maps.MapTypeId.TERRAIN
  };

var map=new google.maps.Map(document.getElementById("loc_map"),mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
   </script>

<% end %>
</div>

