<!-- <h1>Attractions </h1> -->

<div class="panel panel-default">
  <% if @api_results['places'] == [] %>
    <h7>Sorry, nothing found.  Please try another search.</h7>
    <%= link_to ' Home', root_path, class: "btn btn-danger" %>
  <% end %>  
  <% @api_results['places'].each do |place| %>
  <% place['activities'].each do |activity| %>
  <div class="panel-heading">
    <h5><strong class="bold-cap"><%= place['city'] %> </strong>
    <%= activity['activity_type_name'] %>
    <%= link_to 'Save To Trip', new_attraction_path(unique_id: activity['unique_id']), id: 'existing-trip-ajax', remote: true, class: "add-trip" %></h5> 
  </div>
  <div class="panel-body">
    <ol><%= link_to place['name'], attraction_api_path(activities_unique_id: activity['unique_id']), class: "atr-name" %></ol> 
    <h6>Average Rating:
      <% Review.where(unique_id: activity['unique_id']).average('rating').to_i.times do %>
        <span class="glyphicon glyphicon-star"></span>
      <% end %> 
      - <%= Review.where(unique_id: activity['unique_id']).count %> reviews</h6>
    <li><h4>Directions</h4></li>
    <%= place['directions'] %>
    <li><h4>Description</h4></li>
    <%= activity['description'].html_safe.strip %>
  </div>
  <% end %>
<% end %>
  <div id='modal-div'>
  </div>

  <div class="row">
    <%= link_to 'New Trip', new_trip_path(@trip), id: 'new-trip-ajax', remote: true, class: "btn myButton3" %>
    <div id="sidebar_builder" style='height: 450px; width: 450px; text-align: center;'></div>
  </div> 

<script>
  function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handler.getMap().setZoom(14);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
var mapOptions = { mapTypeId: google.maps.MapTypeId.HYBRID };
handler.buildMap({ provider: mapOptions, internal: {id: 'sidebar_builder'}}, function(){
  var json_array = <%= raw @markers.to_json %>;

  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

</div>

