<h1>Attractions </h1>

<div class="panel panel-default">
<% @api_results['places'].each do |place| %>
  <% place['activities'].each do |activity| %>
  
  <div class="panel-heading">
   <ol>
    
    <h5 class="panel-title"><%= place['city'] %></h5>
    <h5 class="panel-title"><%= activity['activity_type_name'] %></h5>

  </div>
  
    <div class="panel-body">
    <h4>Name</h4>
    <%= link_to place['name'], attraction_api_path(activities_unique_id: activity['unique_id']) %>

    <h4>Directions</h4>
      <%= place['directions'] %>


    <h4>Description</h4>
      <%= activity['description'] %>
 
    </div>

  <% end %>
     
  </ol>

<% end %>
</div>