
<div class="panel panel-default">
<% @api_unique_id_results['places'].each do |place| %>
  <% place['activities'].each do |activity| %>
  
  <div class="panel-heading">
   <ol>
    
    <h5 class="panel-title"><%= place['city'] %></h5>
    <h4 class="panel-title"><%= activity['activity_type_name'] %></h4> 

    </div>
  
    <div class="panel-body">
    <h4>Name</h4>
      <%= place['name'] %>

    <h4>Directions</h4>
      <%= place['directions'] %>


    <h4>Description</h4>
      <%= activity['description'] %>
 
    </div>

    <p><%= link_to 'New Review', new_review_path(unique_id: activity['unique_id']), id: 'new-review-ajax', remote: true  %></p>


    <h5 class="panel-footer"> REVIEWS </h5>
    <% @reviews.each do |review| %>
      <h2><%= review.name %></h2><br>
      <h2><i class='fa fa-star'></i><%= review.rating %></h2><br>
      <p style="color:grey;"><%= review.body %></p>
      
      <% if current_user %>
        <% if current_user.id == review.user_id || 0 %>
          <p><%= link_to 'Edit Review', edit_review_path(id: review, unique_id: activity['unique_id']) %></p>
          <p><%= link_to 'Delete Review', review, method: :delete %></p>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
  
    <div id='modal-div'>
    </div>

  </ol>

<% end %>
</div>

<div class='width: 400px'>
 <div id="loc_map" style='height: 300px; width: 400;'>Map goes here</div> 
</div> 

<script>
var handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'loc_map'}}, function(){
  var markers = handler.addMarkers([
    {
      "lat": 40.756939,
      "lng": -111.883687,
      "picture": {
        "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        "width":  36,
        "height": 36
      },
      "infowindow": "You!"
    }
  ]);
  handler.map.centerOn(markers[0]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
 </script>