
<div class="panel panel-default">
<% @api_unique_id_results['places'].each do |place| %>
  <% place['activities'].each do |activity| %>
  
  <div class="panel-heading">
   <ol>
    
    <h5 class="panel-title"><%= place['city'] %></h5>
    <h4 class="panel-title"><%= activity['activity_type_name'] %></h4> 

    </div>
  
    <div class="panel-body">
    <h4>Name</h4>
      <%= place['name'] %>

    <h4>Directions</h4>
      <%= place['directions'] %>


    <h4>Description</h4>
      <%= activity['description'] %>
 
    </div>

    <p><%= link_to 'New Review', new_review_path(unique_id: activity['unique_id']) %></p>

    <h1> REVIEWS </h1>
    <% @reviews.each do |review| %>
      <h2><%= review.name %></h2>
      <h2><%= review.rating %></h2>
      <p><%= review.body %></p>
      <p><%= link_to 'Edit Review', edit_review_path(id: review, unique_id: activity['unique_id']) %></p>
      <p><%= link_to 'Delete Review', review, method: :delete %></p>
    <% end %>

  <% end %>
     
  </ol>

<% end %>
</div>