
<div class="panel panel-default">
<% @api_unique_id_results['places'].each do |place| %>

  <% place['activities'].each do |activity| %>
  
  <div class="panel-heading">
   <ol>
    
    <h5 class="panel-title"><%= place['city'] %></h5>
    <h4 class="panel-title"><%= activity['activity_type_name'] %></h4> 
   
    </div>
  
    <div class="panel-body">
    <h4>Name</h4>
      <%= place['name'] %>

    <h4>Directions</h4>
      <%= place['directions'] %>


    <h4>Description</h4>
      <%= activity['description'] %>

    </div>

    <div class="footer">
   
      <%= link_to 'Create New Trip', new_trip_path(@trip), id: 'new-trip-ajax', remote: true, class: "btn btn-primary" %>

      <%= link_to 'Add To Existing Trip', new_attraction_path(unique_id: activity['unique_id']), id: 'existing-trip-ajax', remote: true, class: "btn btn-primary" %>
    </div>


    <p><%= link_to 'New Review', new_review_path(unique_id: activity['unique_id']), id: 'new-review-ajax', remote: true, class: "btn btn-primary"  %></p>
    
  
    <div id='reviews-div'>
      <h5 class="panel-footer"> REVIEWS </h5>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review', review: review, activity: activity %>
        <p><%= image_tag review.photo.url, size: "300x200" %></p>
      <% end %>
    </div>

  <% end %>
  
    <div id='modal-div'>
    </div>

  </ol>


</div>

<div class="row">
 <div id="loc_map" style='height: 450px; width: 450px; text-align: center;'></div>
  </div> 
 
  <script type="text/javascript">
  function initialize() {
    var myCenter=new google.maps.LatLng(<%= place['lat'] %>, <%= place['lon'] %>);
    var mapProp = {
    center: myCenter,
    zoom:8,
    mapTypeId:google.maps.MapTypeId.HYBRID
    };

    var map = new google.maps.Map(
    document.getElementById("loc_map"),mapProp);

    var marker = new google.maps.Marker({
        position: myCenter,
        map: map,
        title:"This is the place."
    });
    var contentString = 'Hello <strong>World</strong>!';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
 
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }
  function detectBrowser() {
    var useragent = navigator.userAgent;
    var mapdiv = document.getElementById("loc_map");

    if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
      mapdiv.style.width = '100%';
      mapdiv.style.height = '100%';
    } else {
      mapdiv.style.width = '450px';
      mapdiv.style.height = '450px';
    }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

   </script>  


// var handler = Gmaps.build('Google');
// // handler.buildMap({ internal: {id: 'loc_map'}}, function(){

// handler.buildMap({ provider: {}, internal: {id: 'loc_map'}}, 
//   function() {
//     var markers = handler.addMarkers([
//     {
//       "lat": <%= place['lat'] %>,
//       "lng": <%= place['lon'] %>,
//       "picture": {
//         "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
//         "width":  36,
//         "height": 36
//       },
//       "infowindow": "You!"
//     }
//   ]);
//   // var markers = handler.addMarkers (<%=raw @map.to_json %>);
//   handler.map.centerOn(markers[0]);
//   handler.bounds.extendWith(markers);
//   handler.fitMapToBounds();
// });

<% end %>