<h1>Attractions</h1>
<div class="panel panel-default">
 <% @attractions.each do |attraction| %>
  <div class="panel-heading">
   <h1 class="panel-title"><%= attraction.title %></h1>
  </div>
   <h2><%= attraction.category %></h2>
   <p><%= attraction.url %></p>
  <div class="panel-body">
   <p><%= image_tag attraction.photo.url %></p>
  </div>
<%= link_to 'Edit', edit_attraction_path(attraction), class: "btn btn-default" %>
<%= link_to 'Destroy', attraction, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure that you want to delete?' }%>
<% end %>

<%= link_to 'New Attraction', new_attraction_path %>